<template>
  <v-container fluid>
    <v-row>
      <v-spacer></v-spacer>
      <v-col cols="12" md="4">
        <v-card v-if="!loading && resume.basics" mx="auto" :loading="loading">
          <!-- picture -->
          <v-img
            class="white--text align-end"
            height="200px"
            :src="resume.basics.picture"
          >
            <!-- progress loader for image -->
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
            <!-- name -->
            <v-card-title v-if="resume.basics.name" class="title">
              {{ resume.basics.name }}
            </v-card-title>
            <!-- occupation -->
            <v-card-subtitle v-if="resume.basics.label" class="subtitle">
              {{ resume.basics.label }}
            </v-card-subtitle>
          </v-img>
          <v-list>
            <!-- address -->
            <v-list-item v-if="resume.basics.location">
              <v-list-item-icon>
                <v-icon>mdi-map-marker</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  <span v-if="resume.basics.location.address"
                    >{{ resume.basics.location.address }},</span
                  >
                  <span v-if="resume.basics.location.city"
                    >{{ resume.basics.location.city }},</span
                  >
                  <span v-if="resume.basics.location.postalCode">
                    {{ resume.basics.location.postalCode }}
                  </span>
                </v-list-item-title>
                <v-list-item-subtitle>
                  <span v-if="resume.basics.location.region"
                    >{{ resume.basics.location.region }},</span
                  >
                  <span v-if="resume.basics.location.countryCode">
                    {{ resume.basics.location.countryCode }}
                  </span>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <!-- phone -->
            <v-list-item v-if="resume.basics.phone">
              <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ resume.basics.phone }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <!-- email -->
            <v-list-item v-if="resume.basics.email">
              <v-list-item-icon>
                <v-icon>mdi-email</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  <a :href="'mailto:' + resume.basics.email">
                    {{ resume.basics.email }}
                  </a>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <!-- website -->
            <v-list-item v-if="resume.basics.website">
              <v-list-item-icon>
                <v-icon>mdi-web</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  <a :href="resume.basics.website" target="_new">
                    {{ resume.basics.website }}
                  </a>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <!-- spoken language(s) -->
            <v-list-item v-if="resume.languages">
              <v-list-item-icon>
                <v-icon>mdi-google-translate</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>
                  <p v-for="(l, i) in resume.languages" :key="i">
                    <span>{{ l.language }}</span> -
                    <span class="font-weight-thin">{{ l.fluency }}</span>
                  </p>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <!-- profile buttons -->
          <v-divider v-if="resume.basics.profiles"></v-divider>
          <v-card-actions v-if="resume.basics.profiles">
            <v-spacer></v-spacer>
            <v-tooltip
              top
              v-for="(profile, i) in resume.basics.profiles"
              :key="i"
            >
              <template v-slot:activator="{ on }">
                <v-btn icon v-on="on" nuxt :href="profile.url">
                  <v-icon>mdi-{{ profile.network | IAL }}</v-icon>
                </v-btn>
              </template>
              <span>{{ profile.username }}</span>
            </v-tooltip>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <v-card :loading="loading">
          <!-- about -->
          <v-card flat v-if="resume.basics">
            <v-card-title>
              <v-icon class="mr-2">mdi-account-badge-horizontal</v-icon>About
            </v-card-title>
            <v-card-text>{{ resume.basics.summary }}</v-card-text>
          </v-card>
          <!-- work experience -->
          <v-card flat v-if="resume.work">
            <v-card-title>
              <v-icon class="mr-2">mdi-domain</v-icon>Work Experience
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row v-for="(job, i) in resume.work" :key="i">
                <v-col cols="8">
                  <span class="subtitle-1 font-weight-bold">
                    {{ job.position }} </span
                  >,
                  <a :href="job.website" target="_new">{{ job.company }}</a>
                  <p v-if="job.summary">{{ job.summary }}</p>
                  <ul v-if="job.highlights">
                    <li v-for="(highlight, i) in job.highlights" :key="i">
                      {{ highlight }}
                    </li>
                  </ul>
                </v-col>
                <v-col cols="4" class="text-right">
                  <p class="overline">
                    {{ job.startDate }} - {{ job.endDate }}
                  </p>
                  <v-icon small>mdi-clock-outline</v-icon>
                  <span class="caption">
                    {{ duration(job.startDate, job.endDate) }}
                  </span>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <!-- skills -->
          <v-card flat v-if="resume.skills">
            <v-card-title>
              <v-icon class="mr-2">mdi-tools</v-icon>Skills
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row v-for="skill in resume.skills" :key="skill.name">
                <v-col cols="12">
                  <strong class="subtitle-1 font-weight-bold">
                    {{ skill.name }} -
                    <span class="font-italic font-weight-light">{{
                      skill.level
                    }}</span>
                  </strong>
                </v-col>
                <v-col cols="12">
                  <v-chip
                    small
                    label
                    color="primary"
                    v-for="keyword in skill.keywords"
                    class="ma-1"
                    :key="keyword"
                    >{{ keyword }}</v-chip
                  >
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <!-- education -->
          <v-card flat v-if="resume.education">
            <v-card-title>
              <v-icon class="mr-2">mdi-school</v-icon>Education
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row v-for="edu in resume.education" :key="edu.institution">
                <v-col cols="8">
                  <strong class="subtitle-1 font-weight-bold">
                    {{ edu.institution }}
                  </strong>
                  ,
                  {{ edu.area }}
                  <p>{{ edu.studyType }}</p>
                  <div v-if="edu.courses">
                    <v-chip
                      v-for="course in edu.courses"
                      class="ma-1"
                      :key="course"
                      small
                      label
                      color="warning"
                      >{{ course.keyword }}</v-chip
                    >
                  </div>
                </v-col>
                <v-col cols="4" class="text-right">
                  <p class="overline">
                    {{ edu.startDate }} - {{ edu.endDate }}
                  </p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <!-- awards -->
          <v-card flat v-if="resume.awards">
            <v-card-title>
              <v-icon class="mr-2">mdi-trophy</v-icon>Awards
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row v-for="award in resume.awards" :key="award.title">
                <v-col cols="10">
                  <strong>{{ award.title }}</strong>
                  , {{ award.awarder }}
                  <p>{{ award.summary }}</p>
                </v-col>
                <v-col cols="2" class="overline text-right">{{
                  award.date
                }}</v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <!-- volunteer work -->
          <v-card flat v-if="resume.volunteer">
            <v-card-title>
              <v-icon class="mr-2">mdi-hand-heart</v-icon>Volunteer Work
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text></v-card-text>
          </v-card>
          <!-- publications -->
          <v-card flat v-if="resume.publications">
            <v-card-title>
              <v-icon class="mr-2">mdi-newspaper</v-icon>Publications
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text></v-card-text>
          </v-card>
          <!-- interests -->
          <v-card flat v-if="resume.interests">
            <v-card-title>
              <v-icon class="mr-2">mdi-heart</v-icon>Interests
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row v-for="interest in resume.interests" :key="interest.name">
                <v-col cols="12">
                  <strong>{{ interest.name }}</strong>
                  <div v-if="interest.keywords">
                    <v-chip
                      v-for="keyword in interest.keywords"
                      class="ma-1"
                      :key="keyword"
                      small
                      label
                      color="success"
                      >{{ keyword }}</v-chip
                    >
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <!-- references -->
          <v-card flat v-if="resume.references">
            <v-card-title>
              <v-icon class="mr-2">mdi-thumb-up</v-icon>References
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <v-row v-for="ref in resume.references" :key="ref.name">
                <v-col cols="12">
                  <strong>{{ ref.name }}</strong>
                  <blockquote>{{ ref.reference }}</blockquote>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
    <v-footer absolute>
      <span>
        <v-icon small class="mr-1">mdi-copyright</v-icon>
        {{ new Date().getFullYear() }}
      </span>
    </v-footer>
  </v-container>
</template>

<script>
import { formatDistanceStrict } from 'date-fns'
export default {
  name: 'index',
  data: () => ({
    errors: [],
    loading: true,
    resume: {}
  }),
  created() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      this.loading = true
      try {
        this.$axios.setHeader('PRIVATE-TOKEN', process.env.VUE_APP_PAT)
        this.resume = await this.$axios.$get(process.env.VUE_APP_RESUME_URL)
      } catch (err) {
        alert(err)
        this.errors.push(err)
      }
      this.loading = false
    },
    duration(t1, t2) {
      let dobj1 = new Date(t1)
      let dobj2 = t2 !== 'present' ? new Date(t2) : Date.now()
      return formatDistanceStrict(dobj1, dobj2)
    }
  },
  filters: {
    // Icon Abstraction Layer
    IAL(s) {
      let res = ''
      switch (s.toLowerCase()) {
        case 'github':
          res = 'github-circle'
          break
        default:
          res = s
      }
      return res
    }
  }
}
</script>
